.filter {
    position: relative;
    display: inline-block;
}
.filter-overlay {
    position: fixed;

    inset: 0;

    background-color: rgba(0, 0, 0, 0.35);

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    z-index: 20000;
}
.filter-button {
    padding: 10px 20px;
    background-color: #CE4F32;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #873320;
}

.filter-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 20px;
    font-family: var(--text);
    font-size: 24px;
    background: linear-gradient(to bottom, #FADA3D 0%, #FFD689 100%);
    border-radius: 8px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.35);
    z-index: 20001;
}

.filter-option {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
}

.filter-option label {
    font-weight: bold;
}

.filter-option select {
    padding: 8px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(250, 246, 211);
    cursor: pointer;
}


.apply-filter-button,
.clear-filter-button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}
.apply-filter-button {
    background-color: #CE4F32;
    color: var(--black);
}
.apply-filter-button:hover {
    background-color: #873320;
}
.clear-filter-button {
    background-color: transparent;
    border: 2px solid #CE4F32;
    color: #CE4F32;
}

.clear-filter-button:hover {
    background-color: #CE4F32;
    color: var(--black);
}
.filter-icon{
    width:100%;
    height: 100%;
    scale: 1.5;
}

.filter-actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}