.walking-trails {
    margin-top: -20px;
}

.walking-trails h1{
    padding-left: 200px;
    font-family: var(--text);
    color: var(--black);
    padding-bottom: 50px;
}
.trails-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.trails-header{
    padding-left:350px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1000px) {

    .trails-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    .trails-grid {
        grid-template-columns: 1fr;
    }

}
