.trail-details {
    width: 70vw;
    font-family: var(--text);
}

.trail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}
.trail-header-name{
    display: flex;
    flex-direction: column;
    padding-left: 450px;
}
.trail-header-name h1, h2{
    margin:0;
    padding: 10px;
}

.trail-details-image-container {
    position: relative;

    width: 100%;
    height: 450px;

    overflow: hidden;

    border-radius: 15px;
}


.trail-details-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: block;
}



.trail-details-favorite {

    

    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 50%;

    background-color: var(--text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;

    transition:
        transform 0.2s ease,
        background-color 0.2s ease;
}


.trail-details-favorite svg {
    width: 40px;
    height: 40px;
}


.trail-details-favorite:hover {
    transform: scale(1.1);
}


.trail-details-favorite-active {
    background-color: #fb150d;
}


.trail-details-favorite-active svg {
    fill: black;

    color: #e74c3c;
}

.favorite-trail-button {
    margin-top: 50px;

    padding: 12px 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 8px;

    background-color: #222;

    color: var(--text-color);

    font-size: 15px;

    cursor: pointer;
}


.favorite-trail-button svg {
    width: 30px;
    height: 30px;
}

.trail-content{
    display: flex;
    flex-direction: row;

}
.trail-content-left{
    width:70%;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size: 24px;
    text-align: justify;
}
.trail-content-right{
    position: relative;
    width:30%;
    background: linear-gradient(to bottom,rgb(243, 133, 133)  0%, rgb(180, 29, 64) 100%);
    margin:60px;
    padding-left: 5px;;
    margin-bottom: 90px;
    margin-top: 90px;
    font-size:30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-weight: 600;
    border-radius: 20px;;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.trail-content-item{
    display: flex;
    gap:10px;
}


.trail-map {
    margin-top: 40px;
    margin-bottom: 40px;
}

.trail-map h2 {
    margin-bottom: 20px;
}

.trail-map iframe {
    width: 100%;
    min-height: 400px;

    border: none;
    border-radius: 12px;
}

@media (max-width: 600px) {

    .trail-map iframe {
        min-height: 300px;
    }

}