:root {
  --background: #4C9F65;
  --background-hover: #39764B;
  --text-color: #FFD689;
  --text: 'Monserrat', sans-serif;
  --background-body: #EDE4AE;
  --red: rgba(#CE4F32,0.7);
  --black: rgb(#000000);
  --sidebar-width: 240px;
  --navbar-height: 60px;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-body);
}


 
 /* @import 'tailwindcss'; */
